In [1]:
#1

In [6]:
list= []
for l in range(1500, 2701):
    if (l%7==0) and (l%5==0):
        list.append (l)
print (list)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [6]:
#2

In [9]:
# Fahrenheit = (Celsius * 9/5) + 32 and Celsius = (Fahrenheit â€“ 32) * 5/9

temp = float(input("Please Enter Temperature You like:"))
degree = input("Enter F or C:")

if degree == "C":
    print((temp *  9/5) + 32)
elif  degree == "F":
        print((temp - 32) * 5/9)

Please Enter Temperature You like:45
Enter F or C:F
7.222222222222222

In [7]:
#3

In [10]:
x=5;
for i in range(x):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(x,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [8]:
#4

In [11]:
word = input("Input word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input word to reverse: hello
olleh

In [9]:
#5

In [12]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(20, 600, -5))

600

In [10]:
#6

In [13]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((850, 50, 300, 0, 90)))

1290

In [11]:
#7

In [17]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x)

0
1
2
4
5

In [12]:
#8

In [29]:
def Factorial(n):
    f = 1
    for i in range(1, n + 1):
        f *= i
    return f
E = int(input("Enter num to calculate Factorial: "))

Factorial(E)

Enter num to calculate Factorial: 45

119622220865480194561963161495657715064383733760000000000

In [13]:
#9

In [9]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [14]:
#10

In [10]:
r = lambda a : a + 15
print(r(10))
r = lambda x, y : x * y
print(r(12, 4))

25
48